/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #ffffff; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #448e4c;
}

a {
	text-decoration: none;
	color: #448e4c;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #6ac7fa;
	width: 25%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 75%;
	background-color: #6ac7fa;
	height: 100%;
	overflow:auto;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 1.2em;
}

.blue {
	color: #00aed1;
}

img {
  width: 100%;
  display: block;
}


table {
	table-layout: fixed;
	width: 1000px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:2%;
}

th, td {
	text-align: center;
}

textarea
{
  width:100%;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

.btn {
  background: #3bbf48;
  background-image: -webkit-linear-gradient(top, #3bbf48, #34a840);
  background-image: -moz-linear-gradient(top, #3bbf48, #34a840);
  background-image: -ms-linear-gradient(top, #3bbf48, #34a840);
  background-image: -o-linear-gradient(top, #3bbf48, #34a840);
  background-image: linear-gradient(to bottom, #3bbf48, #34a840);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #46eb54;
  background-image: -webkit-linear-gradient(top, #46eb54, #3ccf4b);
  background-image: -moz-linear-gradient(top, #46eb54, #3ccf4b);
  background-image: -ms-linear-gradient(top, #46eb54, #3ccf4b);
  background-image: -o-linear-gradient(top, #46eb54, #3ccf4b);
  background-image: linear-gradient(to bottom, #46eb54, #3ccf4b);
  text-decoration: none;
}

.jqplot-axis-tick, .jqplot-target, .jqplot-title{
	color: #448e4c;
}

